{% extends 'home_view/base.html' %} 

{% block title %}Fórum{% endblock %}

{% block content %}
<h1 class="titulo-forum">Fórum dos Amigos do CPC</h1>

<p>Usuário logado: {{ user.username }}</p>

{% if request.session.is_authenticated %}
    <a href="{% url 'forum_view:meus_posts' %}" class="btn btn-secondary">Meus Posts</a>
{% endif %}


{% if user.is_authenticated %}
    <a href="{% url 'forum_view:criar_post' %}" class="btn btn-primary">Novo Post</a>
{% endif %}



<div class="post-container d-flex flex-column align-items-center gap-4 mt-4">
    {% for post in posts %}
        <div class="post-card p-3 shadow rounded text-center" style="width: 600px;">

            {% if post.imagem %}
            <div class="d-flex justify-content-center mb-3">
                <div class="d-flex justify-content-center align-items-center rounded"
                     style="width: 300px; height: 200px; background-color: #f8f9fa;">
                    <img src="{{ post.imagem.url }}" alt="Imagem do Post"
                         style="max-width: 100%; max-height: 100%; object-fit: contain;">
                </div>
            </div>
            {% endif %}

            <h2>{{ post.titulo }}</h2>
            <p>{{ post.descricao|truncatewords:20 }}</p>
            <p><strong>Curtidas:</strong> {{ post.likes }}</p>
            <a class="btn btn-info" href="{% url 'forum_view:forum_one' post.pk %}">Ver mais</a>
        </div>
    {% empty %}
        <p>Não há posts disponíveis no momento.</p>
    {% endfor %}
</div>
{% endblock %}


{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'forum/css/forum.css' %}">
{% endblock %}
